
  <section>

    <!--container principal-->
    <div class="jumbotron text-center">
      <div class="container">
        <!--div class="col-xs-12" => à ajouter ?!-->
          <img class="smaller-image img-responsive center-block" src="logo_google_france.png">

          <div class="form-group">
            <input type="text" id="mots_clefs" class="form-control">
          </div>
          <div class="boutons">
            <button class="btn" id="recherche" role="button">Recherche google </button>
            <button class="btn" id="generateur" role="button">Générer des grilles</button>
          </div>
      </div>
    </div>


    <!-- Js -->
   
    <!-- <script src="redirection_google.js"></script> -->
    <!-- <script src="popup.js"></script> -->

  </section>
